<div class="flex flex-col items-center h-screen bg-mainBlue p-4">
    <!-- Video Section -->
    <div class=" w-[1300px]">
      <div class="bg-white shadow-lg rounded-lg p-4">
        <div class="relative w-[1280px] h-[720px] rounded-lg overflow-hidden">
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/-KwesPfOBto" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <p class="mt-4 text-lg font-medium text-gray-800 text-center">
          Nézd meg a videót, hogy megértsd a következő lépéseket!
        </p>
      </div>
    </div>
  
    <!-- Task Points Section -->
    <div class="mt-6 w-full max-w-4xl bg-white shadow-lg rounded-lg p-6">
      <h2 class="text-2xl font-bold text-gray-800 mb-4 text-center">
        Feladatok
      </h2>
      <ul class="list-decimal list-inside text-lg text-gray-700 space-y-3">
        <li>Töltsd le a .hex fájlt <a href="microBit.hex" class="text-gray-500 cursor-pointer">ide</a> kattintva!</li>
        <li>Húzd be a Micro:bit meghajtójára a letöltött .hex fájlt.</li>
        <li>Nyomj rá az eredeti oldalon a csatlakozás gombra és válaszd ki a Micro:bit portot!</li>
        <li>Amennyiben a kapcsolat megszakad, úgy Robotkánál mindig újra tudsz csatlakozni!</li>
      </ul>
    </div>
  </div>
  